extends layout

block content
  div#collections-container
    h1 Andreas' collections
    ul
      li 
        a(href="http://localhost:3000/andreas/") Public Firehose
      li
        a(href="http://localhost:3000/andreas/djs/music") Music
      li 
        a(href="http://localhost:3000/andreas/djs/awful-awesome") Aweful & Awesome