extends layout

block content
  div#player
    <iframe id="playerframe" src="http://player.vimeo.com/video/#{asset.video_id}?api=1&player_id=vimeoplayer" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  div#instructions
    a()#intobutton &larr;
  div#metadata
    div#titlearea
      h1= asset.title
    ul
      li.youtube
        a(href='http://www.youtube.com/watch?v=' + asset.video_id) Source
      li.gimmebar
        a(href='http://gim.ie/' + asset.short_url_token) gim.ie/#{asset.short_url_token}
      li.user
        a(href='https://gimmebar.com/loves/' + username) #{username}
      if (typeof(collection_slug) != 'undefined')
        li.gimmebar
          a(href='#') Collection
  

  script('text/javascript')
    var iframe = $('#playerframe')[0],
    player = $f(iframe),
    status = $('.status');
    // When the player is ready, add listeners for pause, finish, and playProgress
    player.addEvent('ready', function() {
      status.text('ready');
    
      player.addEvent('pause', onPause);
      player.addEvent('finish', onFinish);
      player.addEvent('playProgress', onPlayProgress);
    });

    function onPause(id) {
      status.text('paused');
      console.log('paused (log)')
    }

    function onFinish(id) {
      status.text('finished');
    }

    function onPlayProgress(data, id) {
      status.text(data.seconds + 's played');
    }