body {
	background-color: #000000;
	margin: 0px 0px 0px 0px;
}

#youtubevideo {
	width: 100%;
	height: 100%;
}

#content {
	width: 600px;
	color: #ffffff;
	position: absolute;
	top: 100px;
	left: 20%;
	padding: 20px 20px 20px 20px;
	margin-left: auto;
	text-align: left;
	background-color: #000000;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter:alpha(opacity=9);
}

h1 {
	color: #ffffff;
	font-family: Helvetica Neue, sans-serif;
	font-size: 48px;
	line-height: 60px;
}

#somecontent {
	color: #ffffff;
}

